*{
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

.card-container{
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    color: red;
    height: 500px;
    align-items: center;

}
.card{
    border: 1px solid red;
    height: 20%;
    padding: 10px;
}
.panel__item{
    max-width: 250px;
}